* {
    margin: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.header{
    padding-bottom: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    background-color: rgba(229, 84, 115, 0.10);
    /* height: 100vh; */
}
.headline {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.header-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    color: gray;
}
.btn {
    border-radius: 4px;
    background: #E55473;
    margin-top: 25px;
    padding: 15px 25px;
    color: white;
}
.header-pic {
    margin-top: 25px;
    height: 550px;
    width: 450px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.main{
    background-color: white;
}
.featured-des{
    text-align: center;
    margin-top: 100px;
}
.des-handle{
    font-size: x-large;
}
.des-des{
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.featured-flower{
    display: flex;
     justify-content: space-between;
    align-content: center;
    padding: 25px 75px 0px;
}
 .featured-flower>div{
    height: 450px;
    width: 325px;
 }
.flower1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url('../images/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom;
   margin-left: 75px;
}
.flower2{
    border-radius: 350px 350px 0px 0px;
    background-color: rgba(135, 207, 235, 0.257);
    background-image: url('../images/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: center;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
    background-color: lightgrey;
    background-image: url('../images/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 75px;
}
.caption>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 75px 0px;
    text-decoration: underline;
    font-weight: bold;
}